{% extends 'base/main.html' %}


{% block content %}



<div>
    <h1>login </h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label>User Name :</label>
        <input type="text" name="username" placeholder="Enter user Name ">
        <br><br>
        <label>Password :</label>
        <input type="password" name="password" placeholder="***********">
        <br><br>
        <input type="submit" value="Login"/>
    </form>
    <br><br>
    <p>Register your account here <a href="{% url 'registerPage'%}"> sigUp</a></p>
    
</div>

{% endblock content %}