{% extends 'base/main.html' %}


{% block content %}


<form action="" method="POST" class="login-form">
    {% csrf_token %}
        <input type="email" name="email" class="email" placeholder="Email" />
        <input type="text"  name="username" class="username" placeholder="Username" />
        <input type="password" name="password1" class="password" placeholder="password here" />
        <input type="password" name="password2" class="password" placeholder="enter agian" />
        <button class="submit">Sign Up</button>
      </form>

    <p>have account log in here<a href="{% url 'loginPage'%}">login</a></p>
    
</div>

{% endblock content %}